<!DOCTYPE html>
<html>
<head>
    <title>Follow on BlueSky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="form-container">
    <h1>Follow a User on BlueSky</h1>
    <form method="POST" action="/follow_repo">
        <label>Domain Username to Follow:</label>
        <input type="text" name="profile" value="shreyanjain.net"><br><br>
        <input type="submit" value="Follow">
    </form>
    <p><a href="{{ url_for('settings') }}">Settings</a></p>
    <p><a href="/">Home</a></p>

</div>
</body>
</html>
