<!DOCTYPE html>
<html>
<head>
    <title>Post to BlueSky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="form-container">
    <h1>Post a Skoot to BlueSky</h1>
    <form method="POST" action="/skootpost">
        <label>Post Content:</label>
        <textarea name="post-content"></textarea><br><br>
        <input type="submit" value="Post">
    </form>
    <p><a href="{{ url_for('settings') }}">Settings</a></p>
    <p><a href="/followprofile">Follow a User</a></p>
</div>



</body>
</html>
